.item {
    width: 25vw;
    height: 40vh;
    border-radius: 10px;
    background-color: #6e6868;
    color: #ffffff;
    padding: 20px;
    overflow: hidden;
    text-decoration: none;
}

.title {
    font-weight: bold;
    font-size: 24px;
}

.link {
    margin: 20px;
    text-decoration: none;
}
