.button {
    position: fixed;
    margin-left: 85vw;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a83ff;
    color: #f5f5f5;
    margin-top: -7vh;
    border: none;
}

.button1 {
    position: fixed;
    margin-left: 70vw;
    padding: 15px;
    border-radius: 10px;
    background-color: #1a83ff;
    color: #f5f5f5;
    margin-top: -7vh;
    border: none;
}