.container {
    margin-left: 7vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;


    .block {
        display: flex;
        background-color: #6bd0e2;
        height: 80vh;
        width: 35vw;
        border-radius: 15px;
        justify-content: center;
        padding-top: 8%;
        padding-left: 10%;
        overflow: hidden;
        text-decoration: none;
        transition: transform 0.3s ease;
    }

    .block:hover {
        transform: translateY(-5px);
    }

    .logo {
        // position: relative;
        // left: 5vw;
        // top: 5vh;
        width: 20vw;
        height: 20vh;
    }

    .text {
        color: #ffffff;
        font-size: 250%;
        width: 75%;
        word-wrap: break-word;
    }

    .link {
        text-decoration: none;
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }


    .loadingMessage {
        color: #fff;
        font-size: 30px;
    }
}